<div class="countries">    
    <a href="#pound" id="pound" (click)="gbpClick($event)"><img src="../../assets/icons/uk.png" alt=""></a>
    <a href="#american-dollar" id="american-dollar" (click)="usdClick($event)"><img src="../../assets/icons/usd.png" alt=""></a>
    <a href="#euro" id="euro" (click)="eurClick($event)"><img src="../../assets/icons/eur.png" alt=""></a>
</div>
<form class="form-currency">
    <span>{{chooseCountry}}</span>
    <input type="number" name="input-value" (keyup)="onChangeInterCoin($event)" value="{{intercoin}}">
    <label for="input-value">Para</label>
    <span>{{countryFixed}}</span>
    <input type="number" name="input-value" (keyup)="onChangeBrCoin($event)" value="{{brcoin}}">
</form>
