<nav class="countries">
    <button type="button" name="USD" (click)="usdClick($event)"><i class="fas fa-dollar-sign"></i></button>
    <button type="button" name="EUR" (click)="eurClick($event)"><i class="fas fa-euro-sign"></i></button>
    <button type="button" name="GBP" (click)="gbpClick($event)"><i class="fas fa-pound-sign"></i></button>
</nav>

<form class="form-currency">
    <span>{{chooseCountry}}</span>
    <input type="number" name="input-value" (keyup)="onChangeInterCoin($event)" value="{{intercoin}}">
    <label for="input-value">Para</label>
    <span>{{countryFixed}}</span>
    <input type="number" name="input-value" (keyup)="onChangeBrCoin($event)" value="{{brcoin}}">
</form>

