/* Formulário com os inputs para cálculo das moedas */
.form-currency {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    transition: all 5s ease-in;
}
.form-currency span {
    padding: 0 15px;
}
.form-currency label {
    padding: 15px;
}

.form-currency input {
    display: inline-block;
    border: none;
    width: 50%;
    height: 50px;
    font-size: 20px;
    background: transparent;
    border-bottom: 2px solid #7aacff;
    color: #fff;
}

::-webkit-input-placeholder {
    color: #fff;
    font-family: 'Heebo', sans-serif;
    ;
}